    @import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Roboto+Condensed:wght@300;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Roboto Condensed', sans-serif;
        overflow-x: hidden;
    }
    
    h1 {
        font-family: 'Domine', serif;
    }
    /*---------*/
    /*Header*/
    /*---------*/
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 90px;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }
    
    header h1 {
        font-size: 2.5rem;
    }
    
    header a {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        color: inherit;
        text-decoration: none;
        border: none;
    }
    
    @keyframes changecolor {
        0% {
            color: #fff;
        }
        50% {
            color: #740c48;
        }
        100% {
            color: #cc147f;
        }
    }
    
    header a:hover {
        animation: changecolor 1s 1;
        transition-delay: 1.3s;
        color: #cc147f;
    }
    
    header a h4 {
        display: block;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
    }
    
    header .menu {
        margin-left: 20px;
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    header .menu .menu-icon {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
    }
    /*---------------*/
    /*Section Main*/
    /*---------------*/
    
    .main {
        height: 100vh;
        width: 100%;
        background-image: url(../../media/bg.neon3.jpg);
        background-position: center;
        background-size: cover;
        color: #fff;
        display: flex;
    }
    
    .main::before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.50);
    }
    
    .main-content {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .main-content--center {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .main-content--center-left {
        width: 100%;
        max-width: 980px;
        height: 390px;
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .main-content--center-left h1 {
        font-size: 96px;
        display: block;
    }
    
    .main-content--center-left p {
        font-size: 40px;
        display: block;
        margin-left: 90px;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .main-content--center-left p::before {
        content: "";
        display: block;
        position: absolute;
        width: 1.5em;
        height: 2px;
        background-color: #cc147f;
        margin-top: 25px;
        margin-left: -80px;
    }
    
    .main-content--center-right {
        width: 100%;
        max-width: 350px;
        height: 300px;
        display: flex;
        justify-content: flex-end;
    }
    
    .main-content--center-right ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
    .main-content--center-right li {
        padding: 20px;
        background-color: red;
        flex: 1;
        background-color: rgb(0, 0, 0, 0.2);
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    
    .main-content--center-right li:hover {
        transition: 1.5s;
        background-color: rgb(0, 0, 0, 0.7);
    }
    
    .main-content--center-right li a {
        text-decoration: none;
    }
    
    .main-content--center-right li a h5 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        margin-bottom: 5px;
        margin-left: 15px;
    }
    
    .main-content--center-right li a p {
        margin-left: 15px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .main-content--center-right li::before {
        content: '';
        background-color: #cc147f;
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        margin-top: 10px;
        margin-left: -5px;
        border-radius: 50%;
    }
    
    .main-content--bottom {
        padding: 50px 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    
    .main-content--bottom-left ul {
        list-style: none;
        display: flex;
        font-size: 20px;
        align-items: center;
    }
    
    .main-content--bottom-left ul .bar {
        width: 1.8rem;
        height: 2px;
        background-color: rgba(255, 255, 255);
    }
    
    .main-content--bottom-left li {
        padding: 15px 20px;
        border-bottom: 2px solid transparent;
    }
    
    .main-content--bottom-left .social-follow {
        font-weight: 700;
    }
    
    .main-content--bottom-left .social-link:hover {
        border-bottom: 2px solid #fff;
        transition: 1s;
    }
    
    .main-content--bottom-left li a {
        display: flex;
        justify-content: center;
        color: inherit;
        text-decoration: none;
    }
    
    .main-content--bottom-left li a i {
        font-style: normal;
    }
    
    .main-content--bottom-left li img {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        display: none;
    }
    
    .main-content--bottom-right {
        display: flex;
        align-items: center;
    }
    
    .main-content--bottom-right a {
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    
    .main-content--bottom-right .scroll-text {
        padding: 10px;
        border-bottom: 2px solid transparent;
    }
    
    .main-content--bottom-right .scroll-text:hover {
        border-bottom: 2px solid #fff;
        transition: 1s;
    }
    
    .main-content--bottom .scroll-icon {
        width: 48px;
        height: 48px;
        background-color: #fff;
        border-radius: 50%;
        margin-left: 30px;
    }
    
    .main-content--bottom .scroll-icon img {
        display: block;
        margin: auto;
        margin-top: 6px;
    }
    /*---------------*/
    /*Section Aboutus*/
    /*---------------*/
    
    .aboutus {
        display: flex;
        justify-content: center;
    }
    
    .container {
        width: 100%;
        max-width: 1400px;
        padding: 60px;
        display: flex;
        flex-direction: column;
    }
    
    .rose {
        color: #cc147f;
        padding: 20px 4px;
        margin-top: 120px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 16px;
    }
    
    .center {
        display: flex;
        justify-content: center;
    }
    
    .container-introduction h1 {
        font-size: 54px;
        margin-bottom: 70px;
    }
    
    .container-introduction p {
        color: #555;
        font-size: 30px;
    }
    
    .process {
        display: flex;
        flex-flow: row wrap;
        margin-top: 50px;
        justify-content: center;
    }
    
    .process-block {
        max-width: 620px;
        width: 100%;
        height: 330px;
        background-color: #fff;
        display: flex;
        padding: 10px;
        margin: 5px;
    }
    
    .number-line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .number {
        width: 48px;
        height: 48px;
        color: #fff;
        border-radius: 50%;
        background-color: #26bfb5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .line {
        height: 100%;
        width: 1px;
        background-color: #ddd;
        margin-top: 10px;
    }
    
    .process-text {
        width: 100%;
        margin-left: 35px;
        margin-top: 5px;
    }
    
    .process-text h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    
    .process-text p {
        font-size: 20px;
        line-height: 27px;
    }
    /*---------------*/
    /*Section Services*/
    /*---------------*/
    
    .services {
        display: flex;
        justify-content: center;
        background-color: #f1f1f1;
    }
    
    .services-block {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .services-block-service {
        max-width: 380px;
        margin: 10px;
    }
    
    .services-block-icon {
        padding: 5px;
    }
    
    .services-block-icon img {
        width: 48px;
        height: 48px;
        margin-bottom: 15px;
    }
    
    .services-block-title {
        margin-bottom: 15px;
        padding: 5px;
    }
    
    .services-block-text {
        padding: 5px;
        color: #555;
        font-size: 20px;
        line-height: 28px;
    }
    /*---------------*/
    /*Section Works */
    /*---------------*/
    
    .works {
        display: flex;
        justify-content: center;
    }
    
    .works-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 90px);
        background-color: #ccc;
        margin-top: 50px;
    }
    
    .grid-img1 {
        grid-row: 1/8;
        background-image: url(../../media/lamp.png);
        background-position: center;
        background-size: cover;
    }
    
    .grid-img2 {
        grid-row: 1/6;
        background-image: url(../../media/salad.png);
        background-position: center;
        background-size: cover;
    }
    
    .grid-img3 {
        grid-row: 1 /8;
        background-image: url(../../media/wood-craft.png);
        background-position: center;
        background-size: cover;
    }
    
    .grid-img4 {
        grid-row: 8/13;
        background-image: url(../../media/fuji.png);
        background-position: center;
        background-size: cover;
    }
    
    .grid-img5 {
        grid-row: 6/13;
        background-image: url(../../media/new-york.png);
        background-position: center;
        background-size: cover;
    }
    
    .grid-img6 {
        grid-row: 8/13;
        background-image: url(../../media/lady.png);
        background-position: center;
        background-size: cover;
    }
    /*---------------*/
    /*Section clients */
    /*---------------*/
    
    .clients {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    .clients h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
    }
    
    @keyframes slideshow {
        30% {
            margin-left: 0vw;
        }
        33% {
            margin-left: 0vw;
        }
        60% {
            margin-left: -100vw;
        }
        66% {
            margin-left: -100vw;
        }
        88% {
            margin-left: -200vw;
        }
        99% {
            margin-left: -200vw;
        }
    }
    
    .clients-slider {
        width: 1000vw;
        max-height: 500px;
        display: flex;
        animation: slideshow 20s infinite;
    }
    
    .clients-slide {
        width: 100vw;
        height: 400px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .clients-layer {
        width: 100%;
        max-width: 1400px;
        display: flex;
        margin-top: 60px;
        border-top: 1px solid rgb(0, 0, 0, 0.2);
    }
    
    .clients-layer-avatar {
        flex: 1;
        margin-left: 40px;
    }
    
    .margin-bar {
        width: 100%;
        height: 10%;
    }
    
    .margin-bar .bar {
        width: 2px;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.2);
        margin-left: 40px;
    }
    
    .avatar-text-img {
        width: 100%;
        height: 90%;
        display: flex;
    }
    
    .avatar-img {
        width: 82px;
        height: 100%;
    }
    
    .avatar-img img {
        width: 78px;
        height: auto;
        border-radius: 50%;
        margin-top: 5px;
        margin-left: 2px;
    }
    
    .avatar-text {
        margin-left: 40px;
        color: #555;
    }
    
    .avatar-text p {
        max-height: 200px;
        font-size: 25px;
        padding: 5px;
        line-height: 32px;
        margin-bottom: 35px;
    }
    
    .avatar-text i,
    .avatar-text h2 {
        margin-left: 5px;
    }
    
    .avatar-text h2 {
        color: #000;
    }
    
    .avatar-text i {
        font-style: normal;
        font-size: 20px;
    }
    
    .sliders-button-area {
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @keyframes pointershow1 {
        1% {
            background-color: #000;
        }
        30% {
            background-color: #000;
        }
        33% {
            background-color: #bbb;
        }
        66% {
            background-color: #bbb;
        }
        99% {
            background-color: #bbb;
        }
    }
    
    @keyframes pointershow2 {
        30% {
            background-color: #bbb;
        }
        60% {
            background-color: #000;
        }
        62% {
            background-color: #000;
        }
        99% {
            background-color: #bbb;
        }
    }
    
    @keyframes pointershow3 {
        70% {
            background-color: #bbb;
        }
        90% {
            background-color: #000;
        }
        98% {
            background-color: #bbb;
        }
    }
    
    .slider-button:nth-child(1) {
        animation: pointershow1 20s infinite;
    }
    
    .slider-button:nth-child(2) {
        animation: pointershow2 20s infinite;
    }
    
    .slider-button:nth-child(3) {
        animation: pointershow3 20s infinite;
    }
    
    .slider-button {
        width: 14px;
        height: 14px;
        background-color: #bbb;
        margin-left: 20px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .slider-button:hover {
        background-color: #000;
    }
    /*---------------*/
    /*Section Stats  */
    /*---------------*/
    
    .stats {
        min-height: 350px;
        width: 100%;
        background-image: url(../../media/bg-footer.webp);
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .stats-container {
        width: 100%;
        min-height: 350px;
        background-color: rgb(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .stats-block {
        max-width: 380px;
        min-width: 280px;
        height: 300px;
        width: 100%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .stats-block h1 {
        font-size: 75px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: #fff;
        width: 165px;
        text-align: center;
    }
    
    .stats-block span {
        padding-top: 30px;
        color: #555;
        display: block;
        font-size: 22px;
    }